@use 'vars';

html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

//základní nastavení
.body {
  margin: 0;
	padding: 0;
  width: 100%;
  font-family: vars.$font-base;
	font-size: vars.$f-size-base;
  background-color: vars.$c-body;
}