@use 'vars';

//HOMEPAGE

//hlavička
.header {
  background-color: vars.$c-medium;
  padding: 0 vars.$spacer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 
  &__logo {
    text-align: left;
    width: 100%;
    flex-basis: 50%;

    @media screen and (min-width: 1005px) {
      flex-basis: 18%;  
    }
  }

  &__img {
    margin-top: 5px;
    max-width: 180px;
    background-color: vars.$c-marked;
  }

  &__check {
    position: absolute;
    left: -9999px;

    &:checked ~ .header__menu {
      display: block;
    }
  }

  &__toggler {
    color: white;
    font-size: vars.$f-size-middle;
    text-align: right;
    width: 120px;
    flex-basis: 30%;

    @media screen and (min-width: 1005px) {
      display: none;  
    }
  }


  &__menu {
    display: none;
    padding: 0;
    margin: 0;
    flex-basis: 100%;

    @media screen and (min-width: 1005px) {
      display: flex !important;
      flex-basis: 80%;
      justify-content: flex-end;
      align-items: center;
    }

  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__link {
    display: block;
    padding: vars.$spacer;
    text-decoration: none;
    color: vars.$c-white;
    font-size: vars.$f-size-middle;
    border-bottom: 1px solid vars.$c-light-dark;

    @media screen and (min-width: 1005px) {
      border-bottom: none;
    }


    &:hover,
    &:focus {
      background-color: vars.$c-light-dark;
      color: vars.$c-marked;
    }

    &-last {
      color: vars.$c-marked;
    }

    @media screen and (min-width: 1005px) {
      &-last {
        border: 2px solid vars.$c-marked;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;

          &:hover,
          &:focus {
            background-color: vars.$c-marked;
            color: vars.$c-white;
          }
      }
    }
  }
}

//horní carousel

.main {
  &__track,
  &__slides,
  &__slide,
  &__img {
    margin:0;
  }

  &__slide,
  &__track {
    max-height: 91vh;
    max-width: 100vw;
    overflow: hidden;
  }

  &__slide {
    position: relative;
    display: block;
  }

  @keyframes zoom {
    from { 
      transform: scale(1.4);
    }
    to {
      transform: scale(1.02);
    }
  }


  &__img {
    width: 100%;
    animation: zoom 25s infinite;
  }

  &__text {
    position: absolute;
    left: 3%;
    bottom: 18%;
    color: vars.$c-white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: vars.$spacer;
  }

  &__title {
    font-size: 3vw;
    font-weight: bold;

    &:first-child {
      margin-top: 0;
    }
  }

  &__p {
    font-size: 2vw;
    font-weight: bold;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


//sekce novinky a line-up  nadpisy a odsazení

.line-up,
.news-hp {

  
  @media screen and (min-width: 999px) {
   max-width: 1140px;
   margin: 0 auto; 
  }

  &__title {
    margin: 0;
    text-align: left;
    color: vars.$c-white;
    text-transform: uppercase;
    background-color: vars.$c-grey;
    padding: vars.$spacer;
   } 

}

//sekce novinky

.news-hp {
  background-color: vars.$c-white;
  margin-top: -2px;
  
  &__item {
    padding-right: vars.$spacer;
    padding-left: vars.$spacer;

    &:last-child {
      padding-bottom: vars.$spacer;
    }

    @media screen and (min-width: 689px) {
      &:last-child {
        padding-bottom: 0;
      }

      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__news {

    @media screen and (min-width: 689px) {
      padding-right: 40px;
      flex-basis: 60%;
    }
   
  }

  &__pic {
    max-width: 500px;
    display: none;

    @media screen and (min-width: 629px) {
      display: block;
      margin: 0 auto;
    }

    @media screen and (min-width: 689px) {
      flex-basis: 40%;
    }
    
  }

  &__img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
    display: block;
  }

  &__link {
    color: vars.$c-marked;

    &:hover {
      color: vars.$c-marked-hover;
    }

  }

}


//sekce line-up

.line-up {
  &__grid {
  display: grid;
  background-color: vars.$c-medium;
  grid-template-columns: 1fr 1fr;
  max-width: 568px;
  margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 855px; 
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(4, auto);
    }

    @media screen and (min-width: 999px) {
      max-width: 1140px; 
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto);
    }


  }

  &__performers {
    grid-column: 1 / 3;
    text-align: center;
    background-color: vars.$c-grey;
    color: vars.$c-white;
    margin: 0;
    padding: vars.$spacer;

    &:hover {
      background-color: rgb(29, 29, 29);
      color: vars.$c-marked;
    }

    @media screen and (min-width: 768px) {
      grid-column: 1 / 4;
    }
    @media screen and (min-width: 999px) {
      grid-column: 1 / 5;
    }

     &:hover {
      background-color: rgb(29, 29, 29);
    }
  }

  &__link {
    color: vars.$c-white;
    text-decoration: none;

    &:hover {
      color: vars.$c-marked;
    }
  }
  
  &__pic {
    position: relative;
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
    display: block;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: vars.$c-white;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    font-size: vars.$f-size-h;
  }
}

#mumford {
  grid-column: 1 / 2;

  @media screen and (min-width: 768px) {
    grid-row: 1 / 2;
  }
}

#iamx {
  grid-column: 2 / 3;

  @media screen and (min-width: 768px) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  @media screen and (min-width: 999px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

#naked {
  grid-column: 1 / 3;

  @media screen and (min-width: 768px) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  @media screen and (min-width: 999px) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
}

#nbt {
  grid-column: 1 / 3;

  @media screen and (min-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  @media screen and (min-width: 999px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

#monsters {
  grid-column: 1 / 2;

  @media screen and (min-width: 768px) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @media screen and (min-width: 999px) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

#beck {
  grid-column: 2 / 3;

  @media screen and (min-width: 768px) {
    grid-row: 3 / 4;
  }

  @media screen and (min-width: 999px) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}



// patička

.footer {
  background-color: vars.$c-dark;
  color: vars.$c-white;
  text-align: center;
  padding: vars.$spacer;

  &__text {
    margin: 0;
    padding: 5px;
  }
}