@use 'vars';

//MERCH

.merch .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/merch_background.jpg");
}

.products {
  margin: 0 auto;
  padding-top: vars.$spacer;
  max-width: 390px;

  @media screen and (min-width: 780px) {
    max-width: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1170px) {
    max-width: 1170px;
  }
}

.product {
  max-width: 350px;
  border: 1px solid vars.$c-light;
  text-align: center;
  margin: vars.$spacer;

  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1170px) {
    flex-basis: 33%;
    margin: 10px;
  }


  &__img {
    width: 100%;
  }

  &__btn {
    margin-bottom: vars.$spacer;
    padding: 10px vars.$spacer;
    background-color: vars.$c-marked;
    color: vars.$c-white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: vars.$c-marked-hover;
    }
  }
}