@use 'vars';

//PRAKTICKE

.practical .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/prakticke_background.jpg");
}

.practical {
  &__accommodation,
  &__direction {
    margin: vars.$spacer;
  }

  &__accommodation {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: vars.$spacer;
    }  
  }

  &__name {
    @media screen and (min-width: 768px) {
      grid-column: 1 / 4;
    }  
  }


  &__item {
    display: block;
    max-width: 350px;
    border: 1px solid vars.$c-light;
    margin: 0 auto vars.$spacer auto;
    text-align: center;
  }
  
  &__button {
    margin-bottom: vars.$spacer;
    padding: 10px vars.$spacer;
    background-color: vars.$c-marked;
    color: vars.$c-white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
    &:hover {
      background-color: vars.$c-marked-hover;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__text {
    padding-right: vars.$spacer;
    padding-left: vars.$spacer;
  }

  &__direction {
    display: block;
    max-width: 768px;

    @media screen and (min-width: 768px) {
      max-width: 1140px;
      display: grid;
      grid-template-columns: 1fr 1fr 400px;
    }
  }


  &__box {
    @media screen and (min-width: 768px) {
      grid-column: 1 / 3;
    }
  }

  &__link {
    text-decoration: none;
    color: vars.$c-marked;
  }

  &__map {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      margin-left: 40px;;
      grid-column: 3 / 4;
    }
  }
}