$spacer: 20px;
$c-main: #f8f8f8;
$c-body: #d6d6d6;
$c-marked: #fcbf00;
$c-marked-hover:#e9af00;
$c-dark: black;
$c-light-dark: #423C3C;
$c-medium: #1C1B1B;
$c-grey: #292929;
$c-light: #C7C1C1;
$c-white: white;
$font-base: 'Roboto', sans-serif;
$f-size-base: 16px;
$f-size-h: 18px;
$f-size-middle: 20px;
$f-size-big: 28px;


