
$spacer: 20px;
$c-main: #f8f8f8;
$c-body: #d6d6d6;
$c-marked: #fcbf00;
$c-marked-hover:#e9af00;
$c-dark: black;
$c-light-dark: #423C3C;
$c-medium: #1C1B1B;
$c-grey: #292929;
$c-light: #C7C1C1;
$c-white: white;
$font-base: 'Roboto', sans-serif;
$f-size-base: 16px;
$f-size-h: 18px;
$f-size-middle: 20px;
$f-size-big: 28px;


html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

//základní nastavení
.body {
  margin: 0;
	padding: 0;
  width: 100%;
  font-family: $font-base;
	font-size: $f-size-base;
  background-color: $c-body;
}

//HOMEPAGE

//hlavička
.header {
  background-color: $c-medium;
  padding: 0 $spacer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
 
  &__logo {
    text-align: left;
    width: 100%;
    flex-basis: 50%;

    @media screen and (min-width: 1005px) {
      flex-basis: 18%;  
    }
  }

  &__img {
    margin-top: 5px;
    max-width: 180px;
    background-color: $c-marked;
  }

  &__check {
    position: absolute;
    left: -9999px;

    &:checked ~ .header__menu {
      display: block;
    }
  }

  &__toggler {
    color: white;
    font-size: $f-size-middle;
    text-align: right;
    width: 120px;
    flex-basis: 30%;

    @media screen and (min-width: 1005px) {
      display: none;  
    }
  }


  &__menu {
    display: none;
    padding: 0;
    margin: 0;
    flex-basis: 100%;

    @media screen and (min-width: 1005px) {
      display: flex !important;
      flex-basis: 80%;
      justify-content: flex-end;
      align-items: center;
    }

  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__link {
    display: block;
    padding: $spacer;
    text-decoration: none;
    color: $c-white;
    font-size: $f-size-middle;
    border-bottom: 1px solid $c-light-dark;

    @media screen and (min-width: 1005px) {
      border-bottom: none;
    }


    &:hover,
    &:focus {
      background-color: $c-light-dark;
      color: $c-marked;
    }

    &-last {
      color: $c-marked;
    }

    @media screen and (min-width: 1005px) {
      &-last {
        border: 2px solid $c-marked;
        border-radius: 5px;
        padding: 10px;
        margin-left: 10px;

          &:hover,
          &:focus {
            background-color: $c-marked;
            color: $c-white;
          }
      }
    }
  }
}

//horní carousel

.main {
  &__track,
  &__slides,
  &__slide,
  &__img {
    margin:0;
  }

  &__slide,
  &__track {
    max-height: 91vh;
    max-width: 100vw;
    overflow: hidden;
  }

  &__slide {
    position: relative;
    display: block;
  }

  @keyframes zoom {
    from { 
      transform: scale(1.4);
    }
    to {
      transform: scale(1.02);
    }
  }


  &__img {
    width: 100%;
    animation: zoom 25s infinite;
  }

  &__text {
    position: absolute;
    left: 3%;
    bottom: 18%;
    color: $c-white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: $spacer;
  }

  &__title {
    font-size: 3vw;
    font-weight: bold;

    &:first-child {
      margin-top: 0;
    }
  }

  &__p {
    font-size: 2vw;
    font-weight: bold;

    &:last-child {
      margin-bottom: 0;
    }
  }
}


//sekce novinky a line-up  nadpisy a odsazení

.line-up,
.news-hp {

  
  @media screen and (min-width: 999px) {
   max-width: 1140px;
   margin: 0 auto; 
  }

  &__title {
    margin: 0;
    text-align: left;
    color: $c-white;
    text-transform: uppercase;
    background-color: $c-grey;
    padding: $spacer;
   } 

}

//sekce novinky

.news-hp {
  background-color: $c-white;
  margin-top: -2px;
  
  &__item {
    padding-right: $spacer;
    padding-left: $spacer;

    &:last-child {
      padding-bottom: $spacer;
    }

    @media screen and (min-width: 689px) {
      &:last-child {
        padding-bottom: 0;
      }
      
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  &__news {

    @media screen and (min-width: 689px) {
      padding-right: 40px;
      flex-basis: 60%;
    }
   
  }

  &__pic {
    max-width: 500px;
    display: none;

    @media screen and (min-width: 629px) {
      display: block;
      margin: 0 auto;
    }

    @media screen and (min-width: 689px) {
      flex-basis: 40%;
    }
    
  }

  &__img {
    width: 100%;
    max-height: 180px;
    object-fit: cover;
  }

  &__link {
    color: $c-marked;

    &:hover {
      color: $c-marked-hover;
    }

  }

}


//sekce line-up

.line-up {
  &__grid {
  display: grid;
  background-color: $c-medium;
  grid-template-columns: 1fr 1fr;
  max-width: 568px;
  margin: 0 auto;
    @media screen and (min-width: 768px) {
      max-width: 855px; 
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(4, auto);
    }

    @media screen and (min-width: 999px) {
      max-width: 1140px; 
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, auto);
    }


  }

  &__performers {
    grid-column: 1 / 3;
    text-align: center;
    background-color: $c-grey;
    color: $c-white;
    margin: 0;
    padding: $spacer;

    &:hover {
      background-color: rgb(29, 29, 29);
      color: $c-marked;
    }

    @media screen and (min-width: 768px) {
      grid-column: 1 / 4;
    }
    @media screen and (min-width: 999px) {
      grid-column: 1 / 5;
    }

     &:hover {
      background-color: rgb(29, 29, 29);
    }
  }

  &__link {
    color: $c-white;
    text-decoration: none;

    &:hover {
      color: $c-marked;
    }
  }
  
  &__pic {
    position: relative;
    overflow: hidden;
  }

  &__img {
    max-width: 100%;
    display: block;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__text {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: $c-white;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    font-size: $f-size-h;
  }
}

#mumford {
  grid-column: 1 / 2;

  @media screen and (min-width: 768px) {
    grid-row: 1 / 2;
  }
}

#iamx {
  grid-column: 2 / 3;

  @media screen and (min-width: 768px) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }

  @media screen and (min-width: 999px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}

#naked {
  grid-column: 1 / 3;

  @media screen and (min-width: 768px) {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }

  @media screen and (min-width: 999px) {
    grid-column: 3 / 5;
    grid-row: 1 / 2;
  }
}

#nbt {
  grid-column: 1 / 3;

  @media screen and (min-width: 768px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }

  @media screen and (min-width: 999px) {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
  }
}

#monsters {
  grid-column: 1 / 2;

  @media screen and (min-width: 768px) {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
  }

  @media screen and (min-width: 999px) {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
}

#beck {
  grid-column: 2 / 3;

  @media screen and (min-width: 768px) {
    grid-row: 3 / 4;
  }

  @media screen and (min-width: 999px) {
    grid-column: 4 / 5;
    grid-row: 2 / 3;
  }
}



// patička

.footer {
  background-color: $c-dark;
  color: $c-white;
  text-align: center;
  padding: $spacer;

  &__text {
    margin: 0;
    padding: 5px;
  }
}

//SPOLEČNÉ NASTAVENÍ PRO OSTATNÍ STRÁNKY

.merch,
.contacts,
.news,
.practical,
.tickets,
.program {
  background-color: $c-white;
  max-width: 1140px;
  margin: 0 auto;   
  padding-bottom: $spacer;
}

.top {
  background-size: 100%, cover;
  height: 200px;

  &__title {
    margin:0;
    text-transform: uppercase;
    font-size: $f-size-big;
  }

  &__title,
  &__text {
    color: $c-white;
    text-shadow: 1px 1px 1px black;
    padding-left: $spacer;
    padding-right: $spacer;
    transform: translateY(80px);
    font-weight: bold;
  }

  &__text {
    font-size: $f-size-middle;
  }
}



//NOVINKY

.news .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/images/novinky_background.jpg");
}

.news {
  &__item {
    padding: $spacer; 
    margin-top: $spacer;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__text {
    @media screen and (min-width: 768px) {
      padding-right: $spacer;
      flex-basis: 60%;
    }
  }

  &__pic {
    @media screen and (min-width: 768px) {
      flex-basis: 40%;
    }
  }

  &__title {
    margin-top: 0;
  }

  &__img {
    width: 100%;
  }

  &__link {
    color: $c-marked;

    &:hover {
      color: $c-marked-hover;
    }
  }
}

//články

.article {
  padding: $spacer;

  &__title {
    font-size: $f-size-big;
    margin-bottom: 0;
  }

  &__meta {
    color: rgb(165, 165, 165);
    font-style: italic;
    margin-top: 5px;
  }

  &__content {
    display: block;

    @media screen and (min-width: 999px) {
      display: flex;
    }
  }

  &__pic {
    margin: 0 auto;
    max-width: 600px;
    padding-top: $spacer;

    @media screen and (min-width: 999px) {
      flex-basis: 40%;
    }
  }

  &__text {
    @media screen and (min-width: 999px) {
      flex-basis: 60%;
      padding-right: 30px;
    }
  }

  &__image {
    width: 100%;
  }

}

//PROGRAM

.program .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/program_background.jpg");
}

.program {
  padding-bottom: 0;

  &__menu {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: $c-grey;
  }

  &__list {
    list-style: none;
    text-align: center;
  }

  &__link {
    display: block;
    padding: $spacer;
    text-decoration: none;
    color: $c-white;
    font-size: $f-size-h;

    &:hover,
    &:focus {
      background-color: $c-light-dark;
      color: $c-marked;
    }
  }

  &__link--active {
    background-color: $c-light-dark;
    color: $c-marked;
  }

  &__day {
    padding: 35px;
    padding-bottom: 10px;

    @media screen and (min-width: 711px) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__img {
    margin-top: $spacer;
    width: 100%;
    max-width: 400px;

    @media screen and (min-width: 711px) {
      margin-left: 40px;
      margin-top: 0;
    }
  }

  &__all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 568px;
    margin: 0 auto;
    background-color: $c-medium;

    @media screen and (min-width: 768px) {
      max-width: 855px; 
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media screen and (min-width: 999px) {
      max-width: 1140px; 
      grid-template-columns: repeat(4, 1fr);
    }


  }

  &__pic {
    position: relative;
    overflow: hidden;

  }

  &__image {
    max-width: 100%;
    display: block;
    transition: transform 0.5s;

    &:hover {
      transform: scale(1.1);
    }

  }

  &__text {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    color: $c-white;
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    margin: 0;
    font-size: $f-size-h;

  }

  &__first {
    margin-top: 0;
  }
}


//MERCH

.merch .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/merch_background.jpg");
}

.merch,
.tickets,
.practical {
  /* The Modal (background) */
  &__modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  /* Modal Content/Box */
  &__content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 100%;

    @media screen and (min-width: 459px) {
      width: 80%; /* Could be more or less, depending on screen size */
    }
    @media screen and (min-width: 599px) {
      width: 70%; /* Could be more or less, depending on screen size */
    }
    @media screen and (min-width: 699px) {
      width: 50%; /* Could be more or less, depending on screen size */
    }
    @media screen and (min-width: 999px) {
      width: 40%; /* Could be more or less, depending on screen size */
    }
    @media screen and (min-width: 1449px) {
      width: 30%; /* Could be more or less, depending on screen size */
    }
  }

  /* The Close Button */
  &__close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.products {
  margin: 0 auto;
  padding-top: $spacer;
  max-width: 390px;

  @media screen and (min-width: 780px) {
    max-width: 780px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (min-width: 1170px) {
    max-width: 1170px;
  }
}

.product {
  max-width: 350px;
  border: 1px solid $c-light;
  text-align: center;
  margin: $spacer;

  @media screen and (min-width: 768px) {
    flex-basis: 50%;
  }

  @media screen and (min-width: 1170px) {
    flex-basis: 33%;
    margin: 10px;
  }


  &__img {
    width: 100%;
  }

  &__btn {
    margin-bottom: $spacer;
    padding: 10px $spacer;
    background-color: $c-marked;
    color: $c-white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: $c-marked-hover;
    }
  }
}


//PRAKTICKE

.practical .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/prakticke_background.jpg");
}

.practical {
  &__accommodation,
  &__direction {
    margin: $spacer;
  }

  &__accommodation {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: $spacer;
    }  
  }

  &__name {
    @media screen and (min-width: 768px) {
      grid-column: 1 / 4;
    }  
  }


  &__item {
    display: block;
    max-width: 350px;
    border: 1px solid $c-light;
    margin: 0 auto $spacer auto;
    text-align: center;
  }
  
  &__button {
    margin-bottom: $spacer;
    padding: 10px $spacer;
    background-color: $c-marked;
    color: $c-white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    
    &:hover {
      background-color: $c-marked-hover;
    }
  }

  &__img {
    max-width: 100%;
  }

  &__text {
    padding-right: $spacer;
    padding-left: $spacer;
  }

  &__direction {
    display: block;
    max-width: 768px;

    @media screen and (min-width: 768px) {
      max-width: 1140px;
      display: grid;
      grid-template-columns: 1fr 1fr 400px;
    }
  }


  &__box {
    @media screen and (min-width: 768px) {
      grid-column: 1 / 3;
    }
  }

  &__link {
    text-decoration: none;
    color: $c-marked;
  }

  &__map {
    margin-top: 40px;

    @media screen and (min-width: 768px) {
      margin-left: 40px;;
      grid-column: 3 / 4;
    }
  }
}


//KONTAKTY

.contacts .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("/images/kontakty_background.jpg");
}

.contacts,
.practical {
  &__call,
  &__write,
  &__social {
    padding: $spacer $spacer 0 $spacer;

  }

  &__form {
    width: 100%;
    max-width: 550px;
    border: 2px solid $c-marked;
    border-radius: 10px;
    padding: $spacer;
    margin-top: 30px;
    background-color: #fffaed;
  }

  &__label {
    display: block;
    margin-top: 10px;
  }

  &__input {
    margin: 8px 0 10px 0;
    width: 100%;
    border: 1px solid $c-marked;
    border-radius: 2px;
    padding: 10px;
    font-size: $f-size-base;

    &:focus {
      outline: 0;
      border: 2px solid $c-marked-hover;
      background-color: #ffecb2;
    }

  }

  &__checkbox {
    display: inline-block;
    margin-top: 10px;
  }

  &__btn {
    display: block;
    margin-top: $spacer;
    margin-left: auto;
    padding: 10px $spacer;
    background-color: $c-marked;
    color: $c-white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: $c-marked-hover;
    }
  }

  &__required {
    color: $c-marked;
  }
}


//VSTUPENKY

.tickets .top {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("/images/vstupenky_background.jpg");
}

.tickets {
  &__box {
    display: block;
    padding: $spacer;  
    max-width: 500px;
    margin: 0 auto;
    text-align: left;

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      max-width: 1400px;
      padding: 40px;
    }
  }

  &__items {
    @media screen and (min-width: 768px) {
      flex-basis: 65%;
      margin-right: 30px;
    }
  } 

  &__item {
    display: flex;
    align-items: center;
    justify-content: start;
  }  

  &__day {
    flex-basis: 50%;
  }  

  &__price {
    flex-basis: 30%;
    font-weight: bold;
  }  
  
  &__btn {
    flex-basis: 80px;
    padding: 7px;
    background-color: $c-marked;
    color: $c-white;
    border: none;
    border-radius: 5px;
    font-weight: bold;

    &:hover {
      background-color: $c-marked-hover;
    }
  }  

  &__pic {
    max-width: 400px;
    margin: 0 auto;

    @media screen and (min-width: 768px) {
      flex-basis: 35%;
      margin:0;
    }
  }
  
  &__img {
    padding-top: $spacer;
    width: 100%;
  }  
  
  &__text {
    padding: $spacer 40px 0 0;
  }  
}