<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon.png">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  


  <link rel="stylesheet" href="/css/style.css" />
  <title>{{ title }}</title>
</head>
<body class="body">
    <header class="header">
        <div class="header__logo"><a href="/"><img class="header__img" src="/images/musicon-logo.png" alt="Logo Musicon" /></a></div>
        <ul class="header__menu">
          <li class="header__list"><a class="header__link" href="/">Home</a></li>
          <li class="header__list"><a class="header__link" href="/novinky/">Novinky</a></li>
          <li class="header__list"><a class="header__link" href="/program/">Program</a></li>
          <li class="header__list"><a class="header__link" href="/merch/">Merch</a></li>
          <li class="header__list"><a class="header__link" href="/prakticke/">Praktické</a></li>
          <li class="header__list"><a class="header__link" href="/kontakty/">Kontakty</a></li>
          <li class="header__list"><a class="header__link header__link-last" href="/vstupenky/">Vstupenky</a></li>
        </ul>
      
    </header>

    {{ content | safe }}

    <footer class="footer">
      <p class="footer__text"> This page was created for the purpose of study within the course Staň se Kóderkou, Czechitas.</p>
      <p class="footer__text">©2021, Lucie Musilová</p>
    </footer>

   
</body>
</html>