---
layout: musicon-sablona.njk
---

<section class="program">
  
  <div class="top">
    <h2 class="top__title">Program</h2>
    <p class="top__text">Těš se na hvězdy ze světa i z Česka</p>
  </div>

  <ul class="program__menu">
    <li class="program__list"><a class="program__link {{ 'program__link--active' if page.fileSlug === 'program' }}" href="/program/">Vše</a></li>
    <li class="program__list"><a class="program__link {{ 'program__link--active' if page.fileSlug === 'ctvrtek' }}" href="/program/ctvrtek/">Čtvrtek</a></li>
    <li class="program__list"><a class="program__link {{ 'program__link--active' if page.fileSlug === 'patek' }}" href="/program/patek/">Pátek</a></li>
    <li class="program__list"><a class="program__link {{ 'program__link--active' if page.fileSlug === 'sobota' }}" href="/program/sobota/">Sobota</a></li>
  </ul>

{{ content | safe }}

</section>


    

